<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

<title>Grade Detail</title>
</head>

<body>
<div class='card card-body bg-light'>
    <!-- the question mark after grade ensures that it doesn't crash when grade is null -->
    <h1><p th:text="${grade?.firstName} + ' ' + ${grade?.lastName} + ' : ' + ${grade?.grade}" /></h1>

</div>
&nbsp;&nbsp;<a href='/grade'>Grade a student</a>

</body>
</html>